.floatting{
    position: fixed; /* Hace que el botón sea flotante */
    top: 20px; /* Distancia desde la parte inferior */
    right: 40px; /* Distancia desde la parte derecha */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}